name: hs-debaiter

services:
  app:
    build:
      context: .
      dockerfile: docker/app.Dockerfile
    depends_on:
      - database
    environment:
      DB_HOST: database
      DB_PORT: 3306
      DB_NAME: hs_debaiter
      DB_USER: root
      DB_PASS: root

  database:
    image: mariadb:11.4.2
    environment:
      MARIADB_DATABASE: hs_debaiter
      MARIADB_ROOT_PASSWORD: root
