name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  webif:
    name: Lint webui
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./webui
    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '22.x'

      - name: Install dependencies
        run: npm ci
        shell: bash

      - name: svelte-check
        run: npm run check

      - name: lint
        run: npm run lint
